body{
    box-sizing: border-box;
    background: #fff7ac;
    padding: 50px;
    div{
        h1{
            font-family: sans-serif;

        }
        img{
            border: 7px solid   #b4a025;
            width: 350px;
        }
        }
        div.s-div{
            height: 200px;
            width: 332px;
            overflow: auto;
            border: 5px solid orangered;
            background-color: #fdfc01;
            padding: 10px;
            border-style: dashed;
            font-family: sans-serif;
margin-top: 50px;
        }
        }
    
