$tertiary: #173640;
$secondary: #06F591;
$primary: #06F5D9;
$bacl: #020202;
$font-family: Roboto;

* {
    box-sizing: border-box;
}

body {
    font-family: $font-family;
    margin: 0px 75px;
    padding: 0;
    background-color: #173640;

    header {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        div.meno {
            ul {
                display: flex;
                justify-content: space-around;
                list-style: none;

                li.dif-color a {
                    color: #06F5D9;
                }

                li {
                    margin-left: 15px;

                    a {
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }

        div.UploadButton {
            display: flex;
            align-items: center;
            height: 30px;
            padding: 17px 15px;
            border-radius: 10px;

            a {
                display: flex;
                align-items: center;
                justify-content: space-around;
                text-decoration: none;
                color: $bacl;

                h4 {
                    margin: 0;
                    font-size: 15px;
                }

                img {
                    height: 20px;
                    margin-right: 20px;
                }
            }

            background-color: $secondary;
        }
    }

    // ------------------------------------------------------------
    section {
        aside.L-Side {
            margin-top: 80px;

            h1 {
                margin: 0;
            }

            div#titr-text {
                display: flex;
                align-items: center;
                font-size: 50px;
                color: white;
                font-weight: 800px;

                div#dif-co {
                    margin-left: 15px;

                    h1 {
                        font-size: 60px;
                        background: -webkit-linear-gradient(rgba(5, 245, 145, 1), rgba(5, 245, 217, 1));
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }

            div {
                h2 {
                    margin: 0;
                    color: white;
                    font-size: 38px;
                    font-weight: 400;
                    word-spacing: 10px;

                }
            }

            div {
                p {
                    color: white;
                    word-spacing: 7px;
                    line-height: 35px;
                }
            }

            div.button-Explore {

                display: flex;
                align-items: center;
margin-top: 80px;
                

                a{
                    text-decoration: none;
                    color: #020202;
                    div#ex {
                    height: 35px;
                    width: 160px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 40px;
                    background: linear-gradient(to right, #06F591, #06F5D9);
border-radius: 10px;
                    img {
                        width: 15px;
                        margin-right: 10px;
                    }

                }}
                div#more{
a{
    color: white;

}                }
            }
        }

        aside.R-Side {}
    }

}